<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <!--<h:outputStylesheet library="css" name="back.css" />-->
</h:head>

<h:body>
    <ui:include src="/WEB-INF/menubar.xhtml" />
    <div class="ui text container">
        <p:fieldset legend="Delete" style="margin-bottom:20px" class="ui-g-6 field_set">

            <p:messages autoUpdate="true"/>
            <h:form class= "ui form" id="deleteform">
                <h:panelGrid columns="2" cellpadding="5">

                    <p:outputLabel value="Customer Number:" for="depositId" />
                    <h:panelGrid columns="2" cellpadding="5">
                        <p:inputText required="true" id="depositId" value="#{deleteCustomer.customerNumber}" validatorMessage="Value does not match pattern." >
                            <f:validateRegex pattern="\d{8}" />
                        </p:inputText>
                    </h:panelGrid>

                    <p:commandButton class="ui inverted purple button" value="delete" id="deleteButton" ajax="false" action="#{deleteCustomer.delete}"/>

                </h:panelGrid>
            </h:form>
        </p:fieldset>
    </div>
</h:body>
</html>

