<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <!--<h:outputStylesheet library="css" name="back.css" />-->
</h:head>

<style type="text/css">
    html, body
    {

        height: 100%;
        background-color: gray;
    }

</style>

<h:body>
    <ui:include src="/WEB-INF/menubar.xhtml" />
    <div class="ui-g-3">
        <p:fieldset legend="Insert" style="margin-bottom:20px" class="ui-g-6 field_set">

            <p:messages autoUpdate="true"/>
            <h:form class= "ui form" id="insertFrom">
                <h:panelGrid columns="2" cellpadding="5">

                    <p:outputLabel value="Customer Number" for="depositId" />
                    <h:panelGrid columns="2" cellpadding="5">
                        <p:inputText required="true" id="customerId" value="#{insertDeposit.customerNumber}" validatorMessage="CustomerId does not match pattern." >
                            <f:validateRegex pattern="\d{8}" />
                        </p:inputText>
                    </h:panelGrid>

                    <p:outputLabel value="Deposit Number" for="depositId" />
                    <h:panelGrid columns="2" cellpadding="5">
                        <p:inputText required="true" id="depositId" value="#{insertDeposit.depositDTO.depositNumber}" validatorMessage="DepositId does not match pattern." >
                            <f:validateRegex pattern="\d{10}" />
                        </p:inputText>
                    </h:panelGrid>

                    <p:outputLabel value="Balance" for="balance" />
                    <h:panelGrid columns="2" cellpadding="5">
                        <p:inputText required="true" id="balance" value="#{insertDeposit.depositDTO.balance}" >
                        </p:inputText>
                    </h:panelGrid>

                    <p:outputLabel for="t" value="Type :" />
                    <h:panelGrid columns="2" cellpadding="5">
                        <p:selectOneRadio required="true" id="t" value="#{insertDeposit.depositDTO.depositType}">
                            <f:selectItem itemLabel="Short term" itemValue="SHORTTERM" />
                            <f:selectItem itemLabel="Long term" itemValue="LONGTERM" />
                        </p:selectOneRadio>
                    </h:panelGrid>

                    <h:panelGrid columns="2" cellpadding="5">
                        <p:commandButton class="ui inverted purple button" value="Insert" id="insertButton" ajax="false" action="#{insertDeposit.insert}"/>
                    </h:panelGrid>

                </h:panelGrid>
            </h:form>
        </p:fieldset>

    </div>

</h:body>
</html>

