<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <!--<h:outputStylesheet library="css" name="back.css" />-->
</h:head>

<h:body>
    <ui:include src="index.xhtml" />
    <div class="ui text container">
        <h1 class="ui inverted header">
            Customer
        </h1>
        <br />
        <a class="ui inverted basic purple button" href="customer/insert.xhtml"> Insert  </a>
        <a class="ui inverted basic purple button" href="customer/update.xhtml"> Update  </a>
        <a class="ui inverted basic purple button" href="customer/delete.xhtml"> Delete  </a>
    </div>
</h:body>
</html>
